<p>
  <strong>Title: </strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text: </strong>
  <%= @article.text %>
</p>

<h2>Add Comment:</h2>

<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :commentor %> </br>
    <%= form.text_field :commentor %>
  </p>
  <p>
    <%= form.label :body %> </br>
    <%= form.text_field :body %>
  </p>
<% end %>

<%= link_to 'Back', articles_path %>
